**pycache**/
_.py[cod]
_.pyo
_.pyd
.Python
env/
venv/
.venv/
.python-version
build/
dist/
_.egg-info/
logs/
_.log
_.sqlite3
\*.db
.pytest_cache/
.mypy_cache/
.python_history
.DS_Store
.env

# Supporting files like gereating a query to create sample data of 2.5 million records

Supporting Files/

# Docker files

Dockerfile
dockerfile

# Ignore VS Code workspace settings

.vscode/
